<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout/default_layout">
<head>
</head>
<body>
<div layout:fragment="content">
  <h1 id="Message">결제 시도중</h1>
    <p>주문 번호: <span id="externalId"></span></p>
    <p>결제 키: <span id="paymentKey"></span></p>
    <p>결제 금액: <span id="amount"></span></p>
    <p><span id="point"></span></p>

    <script>
        async function confirmPayment() {
            const paymentKey = "[[${paymentKey}]]";
            const externalId = "[[${externalId}]]";
            const amount = [[${amount}]];

        document.getElementById("externalId").textContent = externalId;
        document.getElementById("paymentKey").textContent = paymentKey;
        document.getElementById("amount").textContent = amount;

            try {
                const response = await fetch("/order/confirm", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        paymentKey: paymentKey,
                        externalId: externalId,
                        amount: amount
                    })
                });
                const jsonResponse = await response.json();
                if (jsonResponse.result) {
                    console.log('성공');
                    document.getElementById("Message").textContent = "결제가 성공적으로 확정되었습니다.";
                    document.getElementById("point").textContent = "적립 포인트 : " + jsonResponse.point;
                } else {
                   console.log('결제 확정 실패');
                   window.location.href = window.location.origin + "/order/fail?externalId=" + externalId;
                }
            } catch (error) {
                console.error("결제 확정 실패:", error);
                window.location.href = window.location.origin + "/order/fail?externalId=" + externalId;
            }
        }
        document.addEventListener("DOMContentLoaded", confirmPayment);
    </script>
</div>
</body>
</html>
