<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout/default_layout">
<head>
  <style>
    .field-error {
      border-color: #dc3545;
      color: #dc3545;
    }
    .form-label {
      font-weight: bold;
    }
  </style>
</head>
<body>
<div layout:fragment="content">
  <div class="container mt-5">
    <div class="card" style=" width:600px;  margin: 0 auto;">
      <div class="card-body" >
        <h2 class="card-title" style="margin-top: 25px; margin-bottom: 40px; text-align: center;">로그인</h2>
        <form th:action="@{/users/login}" method="post" th:object="${loginDto}">
          <div th:if="${#fields.hasGlobalErrors()}">
            <p th:each="err : ${#fields.globalErrors()}" th:text="${err}" style= text-align: center;>...</p>
          </div>
          <div class="mb-3 rounded">
            <label for="username" class="form-label">아이디</label>
            <input type="text" class="form-control" id="username" th:field="*{username}" th:errorclass="field-error">
            <div class="field-error" th:errors="*{username}"></div>
          </div>
          <div class="mb-3 rounded">
            <label for="password" class="form-label">비밀번호</label>
            <input type="password" class="form-control" id="password" th:field="*{password}" th:errorclass="field-error">
            <div class="field-error" th:errors="*{password}"></div>
          </div>
          <div class="d-flex">
            <form action="/users/login" method="post">
              <button type="submit" class="btn btn-light" style="margin-top: 25px; margin-bottom: 25px;">로그인</button>
            </form>
            <form action="/users/signup" method="get">
              <button type="submit" class="btn btn-light" style="margin-top: 25px; margin-bottom: 25px; margin-left: 10px;">회원가입</button>
            </form>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
</body>
</html>
